
 /* `xxl` applies to x-large devices (large desktops, less than 1400px) */
 @media (max-width: 1399px) { 
  .email__submit__btn{
    position: absolute;
    right: 250px !important;
  }
  }

/*  `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199px) {
  .header__btn a{
    padding: 20px 40px;
  }
  .header__mobile__image img {
    display: none;
}  .blog__date__or__admin span {
  font-size: 10px;

}
.blog__item__title h2 {
font-size: 15px;
}
  }

/* `lg` applies to medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 

 }


/* `md` applies to small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { 
  
 }

/* `sm` applies to x-small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
  
 }



